.header-block{
  /*padding-top: 300px;
  padding-bottom: 300px;*/
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header-img.png');
  background-position: top;
  background-size: cover;
  color: #FFF6F5;
}

.header-block .header-con {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}


.scnd-block {
  padding-top: 100px;
  padding-bottom: 200px;
  background-image: url('../images/wwo-bg.png');
  background-color: #ffffff;
  background-position: top;
  background-size: cover;
}

.scnd-block h1.block-title {
	color: #6FB0C0;
	text-align: left;
}

.scnd-block .scnd-con {
	margin-top: 89px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    grid-column-gap: 65px;
}

.scnd-block .tab-link-con {
    display: grid;
    grid-template-columns: 1fr;
}

.scnd-block .tab-content {
  position: relative;
  width: 100%;
  /*height: 700px;*/
  height: 80vh;
}

.scnd-block .tab-content .tab-img-con {
	/*height: 700px;*/
  height: 80vh;
	width: 100%;
	box-shadow: 0px 4px 56px 5px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.scnd-block .tab-content .tab-img-con img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.scnd-block label {
	cursor: pointer;
  position: relative;
  padding-left: 30px;
  transition: all 0.3s ease-in;
}

.scnd-block label span {
	color: transparent;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in;
}

.scnd-block label:hover,
.scnd-block label:hover span {
  color:#6FB0C0;
}

.scnd-block :has(#tab-1:checked) [for="tab-1"],
.scnd-block :has(#tab-1:checked) [for="tab-1"] span,
.scnd-block :has(#tab-2:checked) [for="tab-2"],
.scnd-block :has(#tab-2:checked) [for="tab-2"] span,
.scnd-block :has(#tab-3:checked) [for="tab-3"],
.scnd-block :has(#tab-3:checked) [for="tab-3"] span,
.scnd-block :has(#tab-4:checked) [for="tab-4"],
.scnd-block :has(#tab-4:checked) [for="tab-4"] span,
.scnd-block :has(#tab-5:checked) [for="tab-5"],
.scnd-block :has(#tab-5:checked) [for="tab-5"] span,
.scnd-block :has(#tab-6:checked) [for="tab-6"],
.scnd-block :has(#tab-6:checked) [for="tab-6"] span,
.scnd-block :has(#tab-7:checked) [for="tab-7"],
.scnd-block :has(#tab-7:checked) [for="tab-7"] span,
.scnd-block :has(#tab-8:checked) [for="tab-8"],
.scnd-block :has(#tab-8:checked) [for="tab-8"] span,
.scnd-block :has(#tab-9:checked) [for="tab-9"],
.scnd-block :has(#tab-9:checked) [for="tab-9"] span,
.scnd-block :has(#tab-10:checked) [for="tab-10"],
.scnd-block :has(#tab-10:checked) [for="tab-10"] span {
  color:#6FB0C0;
  cursor: pointer;
}

.scnd-block .tab-content>div {
  /*display: none;*/
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}

.tab-content:has([id="tab-1"]:checked)>div:nth-child(1),
.tab-content:has([id="tab-2"]:checked)>div:nth-child(2),
.tab-content:has([id="tab-3"]:checked)>div:nth-child(3),
.tab-content:has([id="tab-4"]:checked)>div:nth-child(4),
.tab-content:has([id="tab-5"]:checked)>div:nth-child(5),
.tab-content:has([id="tab-6"]:checked)>div:nth-child(6),
.tab-content:has([id="tab-7"]:checked)>div:nth-child(7),
.tab-content:has([id="tab-8"]:checked)>div:nth-child(8),
.tab-content:has([id="tab-9"]:checked)>div:nth-child(9), 
.tab-content:has([id="tab-10"]:checked)>div:nth-child(10) {
  /*display: flex;*/
  opacity: 1;
  transform: scale(1);
}

.thrd-block {
  padding-top: 111px;
  padding-bottom: 111px;
  color: #AC908F;
  background-image: url('../images/photos-bg.png');
  background-color: #FFF6F5;
  background-position: top;
  background-size: cover;
}

.thrd-block h1.block-title {
  text-align: center;
}

.thrd-block .photos-slider img {
  /*height: 600px;*/
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

.thrd-block .thrd-con {
  width: 80%;
  margin: 70px auto auto auto;
  position: relative;
}


.thrd-block .owl-carousel .owl-stage-outer {
    overflow: initial!important;
}

.thrd-block .owl-carousel .owl-item {
  opacity: 0.3;
  background-color: #FFF6F5;
  scale: 1;
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}

.thrd-block .owl-carousel .owl-item.center {
  opacity: 1;
  scale: 1.1;
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}

.thrd-block .owl-controls {
  width: 100%;
}

.thrd-block .owl-controls{
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.thrd-block .owl-controls .owl-nav{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
}


.thrd-block .owl-controls button {
  border: none;
  background-color: transparent;
  pointer-events: auto;
  position: relative;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background: #8d706f;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thrd-block .owl-controls button.owl-prev {
    left: -70px;
}

.thrd-block .owl-controls button.owl-next {
  right: -70px;
  /*transform: rotate(180deg);*/
}

.thrd-block .owl-controls button img{
  width: 100%;
  scale: 0.7;
  transition: all 0.2s ease-in;
}

.thrd-block .owl-controls button:hover img{
  scale: 0.6;
}

.thrd-block .owl-carousel .owl-dots {
    margin-top: 60px;
    width: 100%;
}

.thrd-block .owl-theme .owl-dots .owl-dot span {
    background: rgba(172, 144, 143, 0.5);
}

.thrd-block .owl-theme .owl-dots .owl-dot.active span, 
.thrd-block .owl-theme .owl-dots .owl-dot:hover span {
    background: #AC908F;
}

.frth-block {
  padding-top: 111px;
  padding-bottom: 111px;
  background-image: url('../images/testi-bg.png');
  background-color: #FFFFFF;
  background-position: top;
  background-size: cover;
}

.frth-block h1.block-title {
  text-align: left;
  color: #6FB0C0;
}

.frth-block p.body-text {
  color: #000000;
}


.frth-block .testi-slider{
  width: 50%;
  margin-top: 70px;
  position: relative;
}

.frth-block .owl-carousel .owl-stage-outer {
    overflow: visible;
}

.frth-block .owl-stage {
}

.frth-block .testi-slider .item {
  min-height: 200px;
  border-radius: 15px;
  background: #FFF6F5;
  overflow: hidden;
  padding: 35px 45px 35px 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 56px 5px rgb(0 0 0 / 7%);
}

.ffth-block {
  padding-top: 111px;
  padding-bottom: 111px;
  background-image: url('../images/contacts-bg.png');
  background-color: #FFF6F5;
  background-position: top;
  background-size: cover;
  color: #AC908F;
  text-align: center;
}


.ffth-block p.body-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.ffth-block  p.body-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}

.ffth-block .footer-logo {
  margin: 40px auto 40px auto;
  height: 150px;
  width: auto;
}

.ffth-block .footer-logo img{
  height: 100%;
  width: 100%;
}

.ffth-block .social-con {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.ffth-block .social-con .flex-con {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.ffth-block .s-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ffth-block .flex-con .s-media {
  margin: 0px 7px 0px 7px;
}

.ffth-block .social-con img {
  margin-right: 14px;
  height: 20px;
  object-fit: contain;
}

.ffth-block  .social-con a {
    display: inline-block;
    color: #AC908F;
}

.ffth-block  .social-con a span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}

.ffth-block  .social-con a span img{
    margin-right: 0px;
}

.footer-block {
  padding:  31px 0px 31px 0px;
  color: #AC908F;
  background-color: #ffffff;
  text-align: center;
}

.footer-block p,
.footer-block p span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-block p span img{
  height: 20px;
}


@media screen and (max-width: 900px){
  .scnd-block,
  .thrd-block,
  .frth-block,
  .ffth-block {
      padding-top: 50px;
      padding-bottom: 70px;
  }


  .header-block .header-con {
      height: 80vh;
  }

  .scnd-block .scnd-con {
      grid-template-columns: 1fr;
      grid-row-gap: 50px;
      margin-top: 0px;
      justify-items: start;
      justify-content: start;
  }

  .scnd-block .tab-content>div {
      /* display: none; */
      opacity: 0;
      transform: scale(0.9);
      transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  }

  .scnd-block .tab-content,
  .scnd-block .tab-content .tab-img-con {
      height: 35vh;
  }

  .thrd-block .photos-slider img {
      height: 40vh;
  }
}

@media screen and (max-width: 600px){

.header-block .header-con img {
    height: 83px;
}

  .thrd-block .photos-slider img {
      height: 50vh;
  }

  .thrd-block .thrd-con {
      margin: 30px auto auto auto;

  }
  .thrd-block .owl-controls .owl-nav {
      display: none;
  }

  .frth-block h1.block-title {
      text-align: left;
      color: #6FB0C0;
  }

  .frth-block .testi-slider {
      width: 70%;
      margin-top: 10px;
  }

  .ffth-block .social-con img {
      height: 15px;
  }
}